

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 0; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c06300; /* blu */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transition: 0.3s;
}

.topbar {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}


/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 75px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fFfFfF;
}

/* Style page content */
#main {
  transition: margin-left .3s; /* If you want a transition effect */
  padding: 0px 0px;
}
    
    
    /* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 51px;
    font-size: 81px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 81px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  width: 10%;
  background-color: #C06300;
  color: #FFFFFF;
}
   
.titlebar {
  background-color: #FF8400;
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  text-align:center;
  padding: 0px;
  
}

.titlebar h1{
    color: #FFFFFF;
    font-size: 72px;
    
}
.aligncenter{
  width: 85% ;
text-align: center;
    margin: 0 auto;
}
.aligncenter .homepageimage{
width: 100% ;

}
.aligncenter img{
width: 100% ;
}
